/********** GENERAL STYLING **********/

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
  box-sizing: border-box; 
  margin: 0; 
  padding: 0; 
}
body {
  background-color: rgb(253, 247, 242);
  font-family: 'Playfair Display',Arial, Helvetica, sans-serif;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  }
[class*="col-"]{
  width: 95%;
}
@media screen and (min-width:800px){
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;} 
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}


/**************** TOP IMAGE ****************/

.top-image-wrapper {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 30vh;
  z-index: 1;
  background-image: url("../img/beigee.jpeg");
  background-size: cover;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  z-index: 2;
}
.top-image-text-wrapper {
  padding: 15px 0 15px 15px;
}
.top-image-text-wrapper p{
  margin-top: 10px;
}

@media screen and (min-width:800px){
  .top-image-text-wrapper {
    background: linear-gradient(to top,  rgba(255, 255, 255, 1) 0%, rgba(233, 233, 233, 0) 100%);
  }
}


/**************** SHOWING POSTS STARTS ****************/

.posts-title {
  padding: 15px;
  font-size: 14px;
}

.post-section { /*hela sektionen med posts*/
  margin-top: 30vh;
  padding-top: 20px;
  margin-bottom: 50px;
}
.post-section h2 { /*postens rubrik*/
  margin: 3% 5%;
  font-size: 22px;
}
#post-wrapper, #post-wrapper2 { /*wrapper för alla posts*/
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 5px;
}
#post-wrapper{
  padding-bottom: 1em;
  border-bottom: solid black 1px;
}
.post { /*hela varje post*/
  width: 100%;
  padding: 10px;
  background-color: #F8E2CF;
  border: 1px solid silver;
  border-radius: 10px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 3px;
}
.post2{
  position: relative;
  width: 100%;
  padding: 10px;
  background-color: #F8E2CF;
  border: 1px solid silver;
  border-radius: 10px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 3px; 
  
}
.overlay{
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  color: white;
  border-radius: 9px;
}
.post2 button {
  z-index: 1;
}

.post:hover{
  transform: scale(1.02);
}
i:hover {
  transform: scale(1.09);
}
form input {
  margin-top: 4px;
  margin-bottom: 4px;
}
form button {
  border-radius: 3px;
  padding: 5px;
  border: 1px solid black;
}
form button:hover {
  background-color: black;
  color: white;
}
.post-header { /*postens header*/
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}
.post-header h3 { /*postens rubrik*/
  font-size: 16px;
}
.post-btn-wrapper { /*wrapper för edit/delete knappar*/
  display: flex;
  gap: 5px;
}
.post-btn { /*edit/delete knapparna*/
  position: relative;
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  padding: 5px;
  border: 0;
  background-color: transparent;
  font-size: 16px;
  transition: 0.5s;
}
.post-btn2{
  display: none;
}
.post-btn span { /*tooltipen med förklarande text till edit/deleteknapparna*/
  visibility: hidden;
  position: absolute;
    bottom: 120%;
    left: -30%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: black;
  opacity: 0;
  border: 1px solid black;
  border-radius: 5px;;
  color: white;
  font-family: 'Playfair Display',Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 12px;;
  transition: 0.5s;
}
.post-btn:hover span { /*hover på edit/delete knapparna som gör att tooltipen visas*/
  visibility: visible;
  opacity: 1;
}
.post-btn span::before { /*den lilla "pilen" på tooltipen*/
  content: "";
  position: absolute;
    top: 100%;
    left: 30%;
  margin-left: -5px;
  border-width: 8px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
.post-txt { /*varje posts text*/
  padding: 10px 0;
  word-break:normal;
  resize: both;
}
.word-break{
  word-break: break-all;
}
.done-btn{/* The button for "Done"*/
  width: 70px;
  height: 35px;
  margin-top:1.2em;
  border: 1px solid white;
  border-radius: 6px;
  background-color: #F5C6AA; 
  font-weight: 600;
  transition: 0.5s;
}
.done-btn:hover{/* Hover the button for "Done"*/
  border: 1px solid white;
  border-radius: 6px;
  background-color: black;
  color: white;
}

@media screen and (min-width:800px){
  .post, .post2 { /*hela varje post*/                                        
    width: 300px;
    min-height: 230px;
  }
  #post-wrapper, #post-wrapper2 { /*wrapper för alla posts*/                
    margin: 0;
    justify-content: space-around;
  }
}


/******************** UPDATE TODO CONTAINER *****************/

.update-todo-container{
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.content-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}


/**************** NEW POST SECTION STARTS ****************/

.new-todo-btn { /*plusset knappen för ny post*/
  position: fixed;
  width: 160px;
  height: 60px;
  bottom: 7%;
  right: 20px;  
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(245, 196, 168);
  border-radius: 9px;
  border: solid 2px rgb(255, 255, 255);
  color: black;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  z-index: 3;
  cursor: pointer;
  animation-name: popup;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  transition: 0.5s;
  }
@keyframes popup {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }
  
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
.new-todo-btn:hover{
  background-color: black;
  color: white;
}
#new-todo-overlay { /*overlay för new post modalens*/
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
    top: 0;
    left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(253, 247, 242, 0.95);
                                    
  z-index: 5;
}
.new-post-modal { /*hela new post modalen*/
  background-color: white;
}
.new-post-modal-header{ /*new post modalens header*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px;
  background-color: #F8E2CF;
  border-bottom: 1px solid black;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}
.new-post-modal-header span { /*closing krysset*/
  cursor: pointer;
  text-transform: uppercase;
}

/* new post form*/
.form-new-post { /*hela formuläret*/
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  background-color: #F8E2CF;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.form-new-post input { /*inputfälten*/
  padding: 10px;
}
.form-new-post textarea { /*det stora textfältet*/
  height: 150px;
  padding: 10px;
}
.form-btn-wrapper{ /*wrapper för reset/submit knappar*/
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}
.form-btn { /*reset/submit knapparna*/
  cursor: pointer;
  transition: 0.5s;
}
@media screen and (max-width:800px){
  .new-todo-btn{
    position: fixed;
    top: 5%;
  } 
}


/**************** FEEDBACK SECTION START ****************/

.feedback-section {
  display: flex;
  justify-content: center;
}
#feedback-btn { /*hela feedbacken*/
  position: fixed;
  bottom: 0;
  width: 70%;
  margin-top: 20px;
  padding: 5px;
  background-color: rgb(245, 196, 168);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 2px solid white;
  color: black;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  z-index: 2;
}
#feedback-btn:hover{
  background-color: black;
  color: white;
  width: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width:800px){
  #feedback-btn { /*feedback knappen*/
    position: fixed;
      left: 0;
      bottom: 5%;
    height: 150px;
    width: 30px;
    border-top-left-radius: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    writing-mode: vertical-rl;
    letter-spacing: 1.5px;
    cursor: pointer;
  }
}

/*feedback modal*/
#feedback-overlay { /*feedbackens overlay, både form-modalen och confirmation ligger här*/
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
    top: 0;
    left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(253, 247, 242, 0.95);
  z-index: 5;
}
#feedback-modal { /*hela feedback modalen*/
  display: flex;
  flex-direction: column;
  background-color: #F8E2CF;
  border-radius: 6px;
}
.feedback-modal-header{ /*feedback modalens header*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px;
  background-color: #F8E2CF;
  border-bottom: 1px solid black;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.feedback-modal-header span { /*closing krysset*/
  cursor: pointer;
  text-transform: uppercase;
}

/*feedback form */
.form-feedback { /*hela feedback formuläret*/
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px;
  padding: 20px;
  border: 1px solid black;
  background-color: #F8E2CF;
}
.form-feedback input { /*inputfälten*/
  padding: 10px;
}
.form-feedback textarea { /*stora textrutan*/
  height: 150px;
  padding: 10px;
}
.form-btn-wrapper{ /*wrapper för reset/submit knappar*/
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}
.form-btn { /*reset/submit knappar*/
  padding: 10px 20px;
  cursor: pointer;
  background-color: #F5C6AA;
  border: 2px solid white;
  color: black;
  font-weight: 600;
  border-radius: 6px;
  transition: 0.5s;
}

/*feedback confirmation modal*/
#feedback-confirmation-modal { /*hela modalen feedback confirmation modalen */
  height: 50%;
  display: none;
  align-items: center;
  flex-direction: column;
  background-color: #F8E2CF;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); 
  color: black;
  z-index: 4;
}
.feedback-confirmation-modal-header { /*modalens header*/
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding: 15px;
  background-color: #F8E2CF;
  border-bottom: 1px solid black;
}
.feedback-confirmation-modal-header span { /*modalens close*/
  cursor: pointer;
  text-transform: uppercase;
}
#feedback-confirmation-modal-body { /*modalens content del där spinner/js visas*/
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.modal-loader { /*spinnern*/
  width: 50px;
  height: 50px;
  color: black;
  font-size: 40px;;
  border: 0;
  background-color: transparent;
  border-radius: 50%;
  animation-name: spin;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes spin { /*gör att spinnern snurrar*/
from {
    transform: rotate(0deg);
}
to {
    transform: rotate(360deg);
}
}
#feedback-confirmation-modal-body h2 { /*stora texten som visas i modalen*/
  text-transform: uppercase;
}
#feedback-confirmation-modal-body p { /*lilla texten som visas i modalen*/
  margin: 10px 0 0 0;
}


/**************** CONFIRMATION/ERROR MESSAGE ****************/

#message-container-todo{ 
  position: fixed;
  top: 0;
  right: 25%;
  width: 50%;
  height: 30px;
  background-color: #FDF6F0;
  z-index: 10000;
  display: none;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; 
  animation: fadeIn 2s;
}
/*Animation for the message*/
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
.fade-out {
  animation: fadeOut ease 8s;
  -webkit-animation: fadeOut ease 8s;
  -moz-animation: fadeOut ease 8s;
  -o-animation: fadeOut ease 8s;
  -ms-animation: fadeOut ease 8s;
}
@keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

